<!DOCTYPE html>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html' charset='UTF-8' />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


<title>White collar</title> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="main.js"></script>
  <link rel="stylesheet" href="estilos.css">
</head>

<body>
<nav>


</nav>
<main>

    <article id="shopstable-div" class="shopstable-div">
        <h2 >Tiendas disponibles</h2>
        <button type="button" class=" btn btn-success" onClick="showForm()" id="shop1"  >Añadir tienda</button>
    <table id="shopstable" class="shopstable" style="width:100%"></table>
    </article>
    <article id="picturestable-div" class="picturestable-div" style="visibility: hidden;">
        <h2>Cuadros de la tienda </h2>
        <button type="button" class=" btn btn-success" onClick="showPictureForm()">añadir cuadro</button>
        
        <button type="button" class=" btn btn-danger" onClick="deletePictures()">eliminar cuadros</button>
        <table id="picturestable" class="picturestable" style="width:100%">

        </table>
        
    </article>
        <article id="formulario-div" class="formulario-div" style="visibility: hidden;">
        <h2>Formulario tiendas</h2><br/>
        <form method="post" action="http://localhost:8080/shops/"><br/>
        <label for="field-name" id="label-field-name" class="label-field-name">Introduzca el nombre de la tienda</label><br/>
        	<input type="text" name="name" placeholder="nombre" id="field-name" class="insertar"><br/>
        	<label for="capacity" id="label-field-capacity"> Introduzca la capacidad máxima de la tienda</label><br/>
        	<input type="text" name="capacity" placeholder="32" required id="capacity-field" class=""><br/>
        	<input type="button" value="introducir" id="boton-introducirtienda" onClick="sendShop()">
        </form>

    
    </article>
    <article id="picureForm-div" class="shopformulario-div" style="visibility: hidden;">
        <h2>Formulario collares</h2>
        <form method="post" action="http://localhost:8080/shops/">
       		<label for="namepicture" id="label-field-namepicture" class="label-field-namepicture">Introduzca el nombre del collar</label><br/>
        	<input type="text" name="namepicture" placeholder="nombre" id="field-namepicture" class="insertar" required><br/>
        	<label for="price" id="label-field-price"> Introduzca el precio</label><br/>
        	<input type="number" name="price" placeholder="32.29" required id="price-field" class=""><br/>
 	       	<label for="author" id="label-field-author"> Introduzca el autor del cuadro, digo collar</label><br/>
        	<input type="text" name="author" placeholder="anonymous" required id="author-field" class=""><br/>
        	<input type="button" value="introducir" id="boton-introducircuadro" onClick="sendPicture()">
        </form>

    
    </article>
</main>


</body>


</html>